<h1>Lazy Loading</h1>

<h3>
    To Check lazy Loading 
</h3>

<h4>1) Open browser -> Inspect -> Netwrok window</h4>
<h4>2) Reload page - Network window show coming resources from server</h4>
<h4>3) Click on admin we can see the admin module came from server</h4>
<h4>4) Click on employee we can see the employee module came from server</h4>
<h4>5) Now they came once so they don't need to came again after click on buttons</h4>

<button routerLink = '/admin'>Admin</button>
<button routerLink = '/employee'>employee</button>


<router-outlet></router-outlet>
