<h1>Marvellous Infosystems</h1>


<app-batchlist></app-batchlist>
<app-bathdetails></app-bathdetails>

<!-- 

 // complete flow of code :

  - Angular project will run on local host 4200
  - First file will run is index.html
  - From inside indext.html appComponent will render becase
  - appComponent declaration in bootstrap array.

  - from app component we render batchlist and batchdetails component.

  - Control goes in components

  - inside batchlist.ts we inject service to access service methods.

  - inside service there is getbathches method.

  - every component using dependancy injection in it.
  - Becuase of dependancy injection, what ever component needs its injected by someone outsider that is called ad DI.
  - right after creating the component the constructor will called becase it is class.
  - we are passing the object of service class to component constructor 
  - now we can access everythinhg from inside of service.

  - We call service method control will go to the service 
  - service take data from database and return it to component
  - component will display that data. 
  
  
-->