<h1>Application 5</h1>


<!-- Interpolation -->
<!-- Access .ts data in .html by using interpolation brackets -->

<!-- Display name variable-->
<div class="name">

    <h2>Name : {{name}}</h2>

</div>



<!-- Name in small case -->
<div class="lower">

    <h2>toLowerCase : {{name.toLowerCase()}}</h2>
    
</div>


<!-- Name in big case -->
<div class="upper">
    
    <h2>toUpperCase : {{name.toUpperCase()}}</h2>

</div>


<!-- Name concatenation with "Infosystems" -->
<div class="concatenation">

    <h2>Name concatenation : {{name+" Infosystems"}}</h2>

</div>


